tml, body {
    padding-top:100px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
            color: #FFF;
		}

body{
    background: url(https://dl.dropboxusercontent.com/u/3533410/bgs/bg.jpg);
    background-color: #444;
    background: url(https://dl.dropboxusercontent.com/u/3533410/bgs/heart.png),url(https://dl.dropboxusercontent.com/u/3533410/bgs/heart2.png),url(https://dl.dropboxusercontent.com/u/3533410/bgs/bg.jpg);    
}

.header{
    padding:20px;
    border:2px #FFF solid;
    border-radius : 15px;
}

@-webkit-keyframes pound {
    from { -webkit-transform: none; }
	50% { -webkit-transform: scale(2); }
	to { -webkit-transform: none; }
}

.heart {
	display: inline-block;
	-webkit-animation: pound 1s infinite;
	-webkit-transform-origin: center;
}